.hidden {
  display: none;
}

#container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form {
  
}

#bgImage {
  position: relative;
  width: auto;
  height: auto;
}