.hidden {
  display: none;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px;
}

#bg { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 100%;
}

#img-container {
  margin: auto;
  
}


#container {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
}

#greeting {
  font-size: 30px;
  color: wheat;
  margin-top: 50px;
}

#login-form {
  
}

input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
}

#clock {
  color: wheat;
  font-size: 70px;
}
#quote {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 50%;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 10px;
  margin-top: 50px;
  padding: 10px;
}
#quote span {
  border-bottom: 15px;
  color: wheat;
}
#quote span:first-child {
  font-size: 20px;
}
#quote span:last-child {
  font-size: 30px;
  font-weight: 600;
}

